[defaults]
inventory = inventory/localhost.yml
roles_path = roles
library = library
module_utils = module_utils
filter_plugins = filter_plugins
stdout_callback = default
display_skipped_hosts = false
retry_files_enabled = false
interpreter_python = auto_silent
localhost_warning = false

[privilege_escalation]
become = false
